.pokemonCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  min-height: 35vh;
  background-color: red;
  border-radius: 10px;
  box-shadow: 10px 10px 6px -6px #777;
  margin-top: 1em;
}

.pokemonImg{
  width: 120px;
  height: 110px;
  border-radius: 50%;
}

.basicInfo{
  margin-top: 1em;
}
